<!DOCTYPE html>
<html lang="es">

    <head>
        <script src="{{url_for('static', filename='js/relevar.js')}}"></script>
        <link rel="stylesheet" type="text/css" href="../static/css/relevar.css" />
        <title>Datos personales</title>
    </head>
        
    <body class="body">
    	<!-- Esta seccion contiene los elemento de la cabecera -->
        <section id="cabecera" class="cabecera">
            <div id="cabecera_relevar_gnu" class="cabecera_relevar_gnu">
                
                <a> RelevAr > GNUHealth</a>

            </div>
            <div id="usuario" class="usuario">
                
                <a> Usuario</a>
                <b> {{user}}</b>

            </div>
            <div id="cerrar_sesion" class="cerrar_sesion">
                
                <b> Cerrar Sesión</b>

            </div>
        </section>

        <section class="box_confirm">
            
            <div class="column_confirm">
            <div id="personal_data" class="azul">
                
                <div id="filiatorios" class="titulo_seccion">
                <a>Posibles Unidades Domiciliarias</a>
                </div>

                <div width="100%">

                <section class="scrolly">
                <table id="tabla_datos" class="tabla_datos" >
                    <tr>
                        <th>Unidades domicialiarias</th>
                    </tr>
                    
                    {% for item in items %}
                    <tr>
                        <td>
                        <input type="radio" id="uds" name="uds" class="radio_button" 
                        onchange="members({{item.get('members')}})">  {{item.get('code')}}</input>
                        </td>
                    </tr>
                    {% endfor %}
                    
                </table>
                </section>
                </div>
            </div>
            </div>

            <div class="column_confirm">
                <div id="georreferencia" class="azul">
                
                <div id="filiatorios" class="titulo_seccion">
                <a>Miembros actuales de la du</a>
                </div>

                <div width="100%">

                <table id="table_members" class="tabla_members">
                    
                    <thead>
                        <tr>
                            <th>Miembros</th>
                        </tr>
                    </thead>
                    <tbody> 
                    </tbody>

                </table>

                </div>
            </div>

            <div id="create_data" class="div_button_insertar">
                
                <button id="button_insert" type="submit" class="button_insertar" onclick="next({{patient}})">Continuar</button> <!--onclick="save_data({{item}})"-->

            </div>
            </div>
        </section>
    </body>

    <script type="text/javascript">

        function members(members) {
            var tbodyRef = document.getElementById('table_members').getElementsByTagName('tbody')[0];

            // Delete alls elements
            while(tbodyRef.hasChildNodes())
            {
                tbodyRef.removeChild(tbodyRef.firstChild);
            }

            for (var i = members.length - 1; i >= 0; i--) {
                // Insert a row at the end of table
                var newRow = tbodyRef.insertRow();

                // Insert a cell at the end of the row
                var newCell = newRow.insertCell();

                // Append a text node to the cell
                var newText = document.createTextNode(members[i]);
                newRow.setAttribute("style", "height: 25px; font-size: 18px; color:#fff; width=100%;");
                newCell.appendChild(newText);
            }
            
        }

        function next(patient){
        var radios = document.getElementsByName("uds");
        var name_ud = "none"
        for (var i = radios.length - 1; i >= 0; i--) {
            if (radios[i].checked == true) {
                if(radios[i].nextSibling.data.replace('\n','').trim() != 'LA UD NO ESTA EN LA LISTA'){
                    name_ud = radios[i].nextSibling.data.replace('\n','').trim()
            }     
        }}
        
        patient.identifier.push({
                        "system": "UD",
                        "value": name_ud
        })
        data(patient)
        }

    </script>
</html>
    
