<!DOCTYPE html>
<html lang="es">
    <head>
        <script type="text/javascript">
            //function actualizar(){location.reload(true);}
            //Función para actualizar cada 5 segundos(5000 milisegundos)
            //setInterval("actualizar()",5000);
        </script>
        <link rel="stylesheet" type="text/css" href="../static/css/relevar.css" />
        <script src="{{url_for('static', filename='js/relevar.js')}}"></script>
        <title>Datos RelevAr</title>
    </head>
    
    <body class="body_login">
        <form action="/relevar_login" method="post" class="div_login">
            
            <input type="text" name="username" required>
            <input type="password" name="password" required>
            <button type="submit">INGRESAR</button>   

        </form>
    </body>
</html>
