<!DOCTYPE html>
<html lang="es">
    <head>
        <script type="text/javascript">
            //function actualizar(){location.reload(true);}
            //Función para actualizar cada 5 segundos(5000 milisegundos)
            //setInterval("actualizar()",5000);
        </script>
        <link rel="stylesheet" type="text/css" href="../static/css/relevar.css" />
        <script src="{{url_for('static', filename='js/relevar.js')}}"></script>
        <title>Datos RelevAr</title>
    </head>
    
    <body class="body">

        <!-- Esta seccion contiene los elemento de la cabecera -->
        <section id="cabecera" class="cabecera">
            <div id="cabecera_relevar_gnu" class="cabecera_relevar_gnu">
                
                <a> RelevAr > GNUHealth</a>

            </div>
            <div id="usuario" class="usuario">
                
                <a> Usuario</a>
                <b> {{user}}</b>

            </div>
            <div id="cerrar_sesion" class="cerrar_sesion" onclick="closeSession()">
                
                <b> Cerrar Sesión</b>

            </div>
        </section>

        <!-- Esta seccion contiene las tabla de las personas a importa -->
        <section id="tabla_personas" class="tabla_personas">
            <div id="personas_a_importar" class="titulo_seccion">
                
                <a>Personas a importar</a>

            </div>
            <div id="tabla_personas" class="tabla_personas">
                
                <table id="tabla_datos" class="tabla_datos" >
                    <tr>
                        <th>Apellido</th>
                        <th>Nombre</th> 
                        <th>DNI</th>  
                        <th></th>  
                    </tr>
                    {% for item in items %}
                    <tr>
                        <td> {{ item.get('name')[0].get('family') }} </td>
                        <td> {{ item.get('name')[0].get('given')[0] }} </td>
                        <td> {{ item.get('identifier')[1].get('value') }} </td>
                        <td>
                            <a>
                                <button type="button" onclick="confirm_du({{item}})">IMPORTAR</button>        
                            </a>
                            <img src="../static/images/delete.png">
                                                
                        </td> 
                    </tr>
                    {% endfor %}
                </table>

            </div>


        </section>
 </body>

</html>

