<!DOCTYPE html>
<html lang="es">

    <head>
        <script src="{{url_for('static', filename='js/relevar.js')}}"></script>
        <link rel="stylesheet" type="text/css" href="../static/css/relevar.css" />
        <title>Datos personales</title>
    </head>
        
    <body class="body">
    	<!-- Esta seccion contiene los elemento de la cabecera -->
        <section id="cabecera" class="cabecera">
            <div id="cabecera_relevar_gnu" class="cabecera_relevar_gnu">
                
                <a> RelevAr > GNUHealth</a>

            </div>
            <div id="usuario" class="usuario">
                
                <a> Usuario</a>
                <b> {{user}}</b>

            </div>
            <div id="cerrar_sesion" class="cerrar_sesion">
                
                <b> Cerrar Sesión</b>

            </div>
        </section>

        <section class="box">
            
            <div id="personal_data" class="personal_data">
                
                <div id="filiatorios" class="titulo_seccion">
                <a>Datos de la persona</a>
                </div>

                <div width="100%">

                <a class="text_view">NOMBRE: {{ item.get('name')[0].get('given')[0] }}</a>
                <a class="text_view">APELLIDO: {{ item.get('name')[0].get('family') }}</a>
                <a class="text_view">DNI: {{ item.get('identifier')[0].get('value') }}</a>
                <a class="text_view">FECHA DE NACIMIENTO: {{ item.get('birthDate') }}</a>
                <a class="text_view">SEXO:  {{ item.get('gender') }}</a>
                <a class="text_view_height_max">DIRECCIÓN: <br> {{item.get('address')[0].get('line')[0].upper()}} - {{item.get('address')[0].get('city').upper()}} - {{item.get('address')[0].get('district').upper()}} - {{item.get('address')[0].get('country').upper()}}</a>

                </div>
            </div>

            <div class="personal_data">
                <div id="filiatorios" class="titulo_seccion">
                <a>Datos de la UD</a>
                </div>
            </div>
            <div class="column">
            <div id="georreferencia" class="georreferencia">
                
                <div id="filiatorios" class="titulo_seccion">
                <a>Georreferencia</a>
                </div>

                <div width="100%">

                <a class="text_view">LATITUD: {{item.get('address')[0].get('extension')[0].get('extension')[0].get('valueDecimal')}}</a>
                <a class="text_view">LONGITUD: {{item.get('address')[0].get('extension')[0].get('extension')[1].get('valueDecimal')}}</a>

                </div>
            </div>

            <div id="georreferencia" class="georreferencia">
                
                <div id="filiatorios" class="titulo_seccion">
                <a>Tests solicitados</a>
                </div>

                <div width="100%">

                <a class="text_view">VPH AUTO.: {{tests.get('HPV').get('solicitado')}} ({{tests.get('HPV').get('date')}})</a>
                <a class="text_view">SANGRE MF: {{tests.get('COLON').get('solicitado')}} ({{tests.get('COLON').get('date')}})</a>
                </div>
            </div>

            <div id="create_data" class="div_button_insertar">    
                <button id="button_insert" type="submit" class="button_insertar" onclick="save_data({{item}})">INSERTAR EN GNU</button> 
            </div>
            </div>
        </section>
    </body>

</html>
    
