<!DOCTYPE html>
<html lang="es">
	<head>
    	<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<link rel="stylesheet" type="text/css" href="../static/css/dashboard.css" />
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    	<script src="{{url_for('static', filename='js/dashboard_appointment.js')}}"></script>
	</head>
	<body>
		<header>
	            <h1> Panel de Información COVID-19 {{organization}} </h1>
	    </header>
		    <div class="container">
		    	<div id="graphic-indicator">
			    	<div class="graphic">
				    	<canvas id="CasesTime"> </canvas>
				    </div>
				    <div class="indicator">
				    	<p> Seguimientos totales<p>
				    	<p class="big-number"> {{total_follow}} </p>
				    	<h4> Período de tiempo </h4>
				    	<p> {{time_total_follow}} </p>
				    </div>
			    </div>
			    <div id="graphic-indicator">
			    	<div class="graphic">
				    	<canvas id="pie"> </canvas>
				    </div>
				    <div class="indicator">
				    	<p> Altas totales<p>
				    	<p class="big-number"> {{total_discharges}} </p>
				    	<h4> Período de tiempo </h4>
				    	<p> {{time_total_follow}} </p>
				    </div>
			    </div>
			    <div id="graphic-indicator">
			    	<div class="graphic">
				    	<canvas id="Calls"> </canvas>
				    </div>
				    <div class="indicator">
				    	<p> Llamadas totales<p>
				    	<p class="big-number"> {{total_calls}} </p>
				    	<p> Período de tiempo </p>
				    	<p> {{time_total_follow}} </p>
				    </div>
			    </div>
			    <div id="graphic-indicator">
			    	<div class="graphic">
				    	<canvas id="ConfirmedCases"> </canvas>
				    </div>
				    <div class="indicator">
				    	<p> Casos confirmados<p>
				    	<p class="big-number"> {{total_cases}} </p>
				    	<p> Período de tiempo </p>
				    	<p> {{time_total_follow}} </p>
				    </div>
			    </div>
		    </div>
		    </div>
		<footer class="footer"> 
	            <p>Desarrollado por el GESPyTA de la FI-UNER para uso en GNUHealth - v0.2 (2021) - copyleft</p>
	            <a href="http://ingenieria.uner.edu.ar/grupos/salud_publica/" target="_blank" class="a">¿Quienes somos?</a>
	            <a href="https://gitlab.com/gnuhealth_fiuner" target="_blank" class="a">Nuestro Repositorio</a>
	            <a href="mailto=saludpublica@ingenieria.uner.edu.ar" target="_blank" class="a">Contacto</a>
        </footer>
	</body>

	<script type="text/javascript">
    
    var data = JSON.parse('{{ data | tojson}}');
    graph_line(data['axisx'], data['axisy1'], "CasesTime", "Seguimientos")
    
    graph_pie(data['categories_result'], data['values_result'], "pie", "pie")

    graph_line(data['axisx'], data['values_calls'], "Calls", "Llamadas")

    graph_line(data['axisx'], data['confirmed_cases'], "ConfirmedCases", "Casos confirmados")
	</script>

</html>

