<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/dashboard.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="{{url_for('static', filename='js/dashboard_appointment.js')}}"></script>
</head>

<body>
        <div class="flex-container">

            <header>
                <h1> Panel de Información COVID-19 {{organization}} </h1>
        </header>
            <div class="container">
                <div id="graphic-indicator">
                    <div class="graphic">
                        <canvas id="ages"> </canvas>
                    </div>
                    <div class="indicator">
                        <p> Seguimientos totales<p>
                        <p class="big-number"> {{total_follow}} </p>
                        <h4> Período de tiempo </h4>
                        <p> {{time_total_follow}} </p>
                    </div>
                </div>
            </div>

        </div>
</body>

<script type="text/javascript">
    
var data = JSON.parse('{{ data | tojson}}');

console.log(data)

let values = []
let x = []
for (var i = 0; i < 100; i+=5) {
   values.push(data['atentions'].filter(atention => atention.age >= i && atention.age < (i+5)).length)
   x.push(i.toString()+"-"+(i+4).toString())
}

console.log(values)
console.log(x)

graph_line(x,values,'ages','prueba')

</script>


</html>
