@font-face {
  font-family: 'Asus';
  src: url("LTAsus-Light.ttf");
}

*{
    padding:0;
    margin:0;
    
}

.html {
  /*min-height: 100vh;*/
  position: relative;
}

.cabecera{
    display: flex;
    /*justify-content: space-between | space-around;*/
    height: 10vh;
    justify-content: space-between;
}

.tabla_personas{
    height: 75vh;
    background: #272835;
    border-radius: 25px;
    margin-left: 2%;
    margin-right: 2%;
}

.cabecera_relevar_gnu{
    height: 80%;
    width: 20%;
    margin-left: 2%;
    margin-top: 5px;
    background: #272835;
    border-radius: 25px;
    text-align: center;
    color: #FFFFFF;
    align-items: center;
    text-align:center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.cerrar_sesion{
    height: 80%;
    width: 10%;
    margin-right: 2%;
    margin-top: 5px;
    background: #272835;
    border-radius: 25px;
    text-align: center;
    color: #FFFFFF;
    align-items: center;
    text-align:center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.usuario{
    height: 80%;
    width: 20%;
    margin-right: 2%;
    margin-top: 5px;
    background: #314166;
    border-radius: 25px;
    text-align: center;
    color: #FFFFFF;
    align-items: center;
    text-align:center;
    align-content: center;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
}

.titulo_seccion{
    height: 45px;
    margin-left: 25px;
    color: #FFF;
    display: flex;
    /*justify-content: center;*/
    align-content: center;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    font-weight: bold;
    color: #9CB5EF;
}

.tabla_personas{
    max-height: 80%;
    width: auto;
    margin-left: 25px;
    margin-right: 2%;
    overflow-y: scroll;
}

.tabla_datos{
    width: 100%;
    justify-content: space-around;
    color: #FFF;
    max-height: 80%;
}

.tabla_members{
    width: 95%;
    color: #FFF;
    max-height: 80%;
    margin-left: 2%;
}

.scrolly{
    overflow-y: scroll;
}

th {
    border-bottom: 2px solid;
    border-bottom-color: #FFF;
    font-size: 18px;
    height: 20px;
}

td{
    border-bottom: 1px solid;
    border-bottom-color: #C4C4C4;    
}

.div_login{
    height: 60vh;
    width: 25%;
    margin-left: 2%;
    margin-top: 5px;
    background: #272835;
    border-radius: 25px;
    text-align: center;
    color: #FFFFFF;
    align-items: center;
    text-align:center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.body_login{
    align-items: center;
    text-align:center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.personal_data{
    height: 75vh;
    width: 25%;
    margin-left: 2%;
    margin-top: 5px;
    background: #272835;
    border-radius: 25px;
    color: #FFFFFF;
}

.georreferencia{
    height: 25vh;
    /*width: 25%;*/
    margin-left: 2%;
    margin-top: 5px;
    background: #272835;
    border-radius: 25px;
    color: #FFFFFF;
}

.text_view{
    margin-left: 25px;
    margin-right: 25px;
    border-bottom: 1px solid;
    border-bottom-color: #FFF;
    display:inline-block;
    width: 80%;
    min-height: 15px;
    margin-top: 15px;
}

.radio_button{
    margin-left: 2%;
    /*margin-right: 2%;*/
    border-bottom: 1px solid;
    border-bottom-color: #FFF;
    /*display:inline-block;
    width: 80%;*/
    min-height: 15px;
    margin-top: 3%;
    margin-bottom: 1%;
}

.text_view_height_max{
    margin-left: 25px;
    margin-right: 25px;
    border-bottom: 1px solid;
    border-bottom-color: #FFF;
    display:inline-block;
    width: 80%;
    height: 75px;
    margin-top: 15px;
    line-height : 15px;
}

.box {
          display: flex;
          flex-direction: row;
}

.column{
    width: 25%;
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.column_confirm{
    width: 45%;
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.box_confirm {
    display: flex;
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
    /*flex-direction: column;*/
}

.azul{
    height: 75vh;
    width: 90%;
    margin-left: 2%;
    margin-top: 2%;
    background: #272835;
    border-radius: 25px;
    color: #FFFFFF;
}

.div_button_insertar{
    width: 90%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
}

.button_insertar{
    height: 6vh;
    width: 75%;
    background-color: #314166;
    border-radius: 25px;
    color: white;
}

.text_c{
    height: 100%;
}
.list_person{
    background: #272835;
    border-radius: 25px;
    width: 95%;
    height: 80vh;
}


.title_categories{
    height: 15%;
    font-size: 25px;
    color: #9CB5EF;
    margin-top: 55px;
    margin-left: 25px;
}


header {
    margin: 0px;
    padding: 10px 10px;
    height:8%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #142F43;
    text-align: center;
    color: #7ECA9C;
    /*border: 1px solid red;*/
    font-family: "Asus";
    line-height:200%;
    /*border:3px solid red;*/
}

body {
    background-size: cover;
    min-height: 100vh;
    /*display: flex;
    flex-direction: column;
    align-items:flex-end;*/
    margin-top: 0;
    text-decoration: none;
    font-family: 'Asus';
    line-height:50%;
    /*border: 1px solid #FF0075;*/
    /*border-bottom:3px solid red;*/
    background: #C4C4C4;
}

#flex-container{
    display: flex;
    width:100%;
    margin:auto;
    height: 84%;
    flex-wrap:wrap;
    border: 2px solid pink;
    background-size: cover;
    /*min-height: 80vh;*/
    /*border: 1px solid #FF0075;*/
    padding: 0;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    align-items: center;
}



.item {
    display: flex;
    margin: 2%;
    padding: 5px 5px;
    width: 25%;
    max-height:25%;
    justify-content:space-evenly;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    font-family: "Asus";
    background-color: #ADC2A9;
    text-align:center;
    /*min-width:40vw;*/
    border: 2px solid #222831;
    line-height: 1;
}

.item:hover{
  background-color: #393E46;
  border: 3px solid #D89216;
  transform: scale(1.1);
  color: #D89216;
}

.big-big-text{
    width: 70%;
    color: #316B83;
    font-size: 48pt;
    list-style:none;
    font-weight: 700;
}

.big-text{
    width: 70%;
    margin-top: 8px;
    color: #316B83;
    font-size: 5vh;
    list-style:none;
    font-weight: 700;
}


.text{
    width: 95%;
    color: #316B83;
    list-style:none;
    font-size: 2vh;
    font-weight: 700;

}

img{
    width:20px;
    height: 20px;
}

.button {
    display: flex;
    align-items:flex-end;
    width: auto;
    height: auto;
    padding: 5px 5px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 2vh;
    cursor: pointer;
    color: black;
    border: 2px solid black;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
}

.button:hover {
  background-color: #0C7B93;
  color: white;
}

.a {
    text-decoration: none;
    color: black;
}

#flex-important{
    background-color: #ADC2A9;
    border: 2px solid #222831;
    width: 90vw;
    margin: 20px auto;
    padding:20px;
    height:30%;
}

#flex-important:hover{
  background-color: #393E46;
  border: 3px solid #D89216;
  transform: scale(1.05);
  color: #D89216;
}

.important{
    display: flex;
    justify-content:space-around;
    align-items:center;
    max-height:20%;
    font-size:40%;
}

.important-image{
    width: 10%;
}

.important-text{
    width:18%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    vertical-align: middle;
}


.footer {
    height: 8%;
    display: flex;
    flex-wrap: wrap;
    position:baseline;
    justify-content: space-between;
    padding:0 20px;
    align-items: center;
    min-height: 10vh;
    bottom:0;
    flex-direction: row;
    color: black;
    margin: 0px; 
    text-align: center;
    background-color: #fff;
    font-size: 15px;
    font-family: "Asus";
    font-style: bold;
    line-height: 1em;
    
}


.container {
    display:flex;
    flex-direction: row;
    background-color: gray;
    justify-content: space-around;
    min-height: 80vh;
    flex-wrap: wrap;
    flex-grow: 1;
}


#graphic-indicator {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-basis: 48%;
    min-height: 55vh;
    margin: 1%;
}

.graphic{
    height: 100%;
    text-align: center;
    background-color: #F4F4F4;
    border: 2px solid black;
    border-radius: 10px;
    width: 75%;
    margin-right: 1%;
    justify-content: center;
    aling-items: center;
}


.indicator{
    height: 100%;
    display:flex;
    flex-grow: 1;
    grid-gap: 5%;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: #6494a0;
}

.big-number{
    font-size: 400%;
}

.derecha{
    width: 100%;
    height: 20vh;
    text-align: center;
}

.canva-flex {
    display: flex;
    margin: 1%;
    padding: 5px 5px;
    width: 48%;
    max-height:25%;
    justify-content:space-evenly;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    font-family: "Asus";
    background-color: #FFF;
    text-align:center;
    /*min-width:40vw;*/
    border: 2px solid #222831;
    line-height: 1;
}
